<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="addProduct()" [disabled]="!formProdutAdd.valid">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-content">
  <br />

    <!-- inputs add product-->

  <form [formGroup]="formProdutAdd" class="list-form">
    <ion-item>
      <ion-label position="floating" color="secondary">
        <ion-icon name="people" item-start></ion-icon>
        &nbsp;Nombre
      </ion-label>
      <ion-input
        color="secondary"
        type="text"
        formControlName="pnombre"
      ></ion-input>
    </ion-item>

    <p
      ion-text
      class="text08"
      *ngIf="formProdutAdd.get('pnombre').touched && formProdutAdd.get('pnombre').hasError('required')"
    >
      <ion-text color="warning"> Corrija o complete el campo </ion-text>
    </p>

    <br />

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" color="secondary">
        <ion-icon name="apps-outline" item-start></ion-icon
        >&nbsp;Codigo</ion-label
      >
      <ion-input
        color="secondary"
        type="number"
        formControlName="pcodigo"
      ></ion-input>
    </ion-item>

    <p
      ion-text
      class="text08"
      *ngIf="formProdutAdd.get('pcodigo').touched && formProdutAdd.get('pcodigo').hasError('required')"
    >
      <ion-text color="warning"> Corrija o complete el campo  </ion-text>
    </p>

    <br />

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" color="secondary">
        <ion-icon name="calculator-outline" item-start></ion-icon
        >&nbsp;Cantidad</ion-label
      >
      <ion-input color="secondary" type="number" formControlName="pcantidad">
      </ion-input>
    </ion-item>
    <p
      ion-text
      class="text08"
      *ngIf="formProdutAdd.get('pcantidad').touched && formProdutAdd.get('pcantidad').hasError('required')"
    >
      <ion-text color="warning"> Corrija o complete el campo  </ion-text>
    </p>

    <br />

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" color="secondary">
        <ion-icon name="layers-outline" item-start></ion-icon>&nbsp;Peso</ion-label
      >
      <ion-input color="secondary" type="number" formControlName="ppeso">
      </ion-input>
    </ion-item>
    <p
      ion-text
      class="text08"
      *ngIf="formProdutAdd.get('ppeso').touched && formProdutAdd.get('ppeso').hasError('required')"
    >
      <ion-text color="warning">Corrija o complete el campo  </ion-text>
    </p>

    <br />

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" color="secondary">
      <ion-icon name="stopwatch-outline" item-start></ion-icon>&nbsp;Fecha de
        expiración</ion-label
      >
      <ion-input
        color="secondary"
        type="text"
        formControlName="pfecha_caducidad"
      >
      </ion-input>
    </ion-item>
    <p
      ion-text
      class="text08"
      *ngIf="formProdutAdd.get('pfecha_caducidad').touched && formProdutAdd.get('pfecha_caducidad').hasError('required')"
    >
      <ion-text color="warning"> Corrija o complete el campo  </ion-text>
    </p>

    <br />

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" color="secondary">
      <ion-icon name="text-outline" item-start></ion-icon>&nbsp;Descripción</ion-label
      >
      <ion-textarea color="secondary" formControlName="pdescripcion"> </ion-textarea>
    </ion-item>

    <p
      ion-text
      class="text08"
      *ngIf="formProdutAdd.get('pdescripcion').touched && formProdutAdd.get('pdescripcion').hasError('required')"
    >
      <ion-text color="warning"> Corrija o complete el campo  </ion-text>
    </p>

    <br />

    <ion-row
      *ngIf="!formProdutAdd.get('pdescripcion').valid && formProdutAdd.touched"
    >
      <p style="text-align: center; text-bold">
        <ion-icon name="warning-outline" color="secondary"></ion-icon>
        <ion-text color="secondary">
          La descripcion debe de ser mayor a 20 caracteres
        </ion-text>
      </p>
    </ion-row>
  </form>
</ion-content>
