<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Catálogo</ion-title>
    <ion-buttons slot="end">
      <!-- add product button-->

      <ion-button
        size="small"
        shape="round"
        color="medium"
        [routerLink]="['/products/add' ]"
      >
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-badge color="dark" slot="end"></ion-badge>
      </ion-button>

      <!--logout button-->

      <ion-button size="small" shape="round" color="medium" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        <ion-badge color="dark" slot="end"></ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">
    <ion-card *ngFor="let product of products">
      <ion-item>
        <ion-label>&nbsp;{{ product.nombre}}</ion-label>
        <ion-button color="danger" slot="end" (click)="delete(product.codigo)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-card-content>
        <ion-label style="font-weight: bold"
          >Producto: {{ product.descripcion }}</ion-label
        >

        <br />
        <br />

        <div style="text-align: center">
          <ion-label style="font-weight: bold">Proveedores</ion-label>
        </div>

        <br />

        <div *ngFor="let provedor of product.proveedor">
          <p>Fabricado: {{ provedor.nombre }}</p>
          <p>Numero: {{ provedor.numero}}</p>
        </div>

        <br />

        <div style="text-align: center">
          <ion-button color="dark" slot="end" (click)="view(product.codigo)"
            >Ver</ion-button
          >
          <ion-button color="dark" slot="end" (click)="update(product.codigo)"
            >Editar</ion-button
          >
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
