<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Producto</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="editProduct()" [disabled]="!formProductEdit.valid">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login auth-page">
  <br />

  <!-- inputs edit product-->

  <form [formGroup]="formProductEdit" class="list-form">
    <ion-item>
      <ion-label position="floating" color="secondary">
        <ion-icon name="people" item-start></ion-icon>
        &nbsp;Nombre
      </ion-label>
      <ion-input
        color="secondary"
        type="text"
        formControlName="pnombre"
      ></ion-input>
    </ion-item>

    <p
      ion-text
      class="text08"
      *ngIf="formProductEdit.get('pnombre').touched && formProductEdit.get('pnombre').hasError('required')"
    >
      <ion-text color="warning"> Corrija o complete el campo </ion-text>
    </p>

    <br />

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" color="secondary">
        <ion-icon name="apps-outline" item-start></ion-icon
        >&nbsp;Codigo</ion-label
      >
      <ion-input
        color="secondary"
        type="number"
        formControlName="pcodigo"
      ></ion-input>
    </ion-item>

    <p
      ion-text
      class="text08"
      *ngIf="formProductEdit.get('pcodigo').touched && formProductEdit.get('pcodigo').hasError('required')"
    >
      <ion-text color="warning"> Corrija o complete el campo </ion-text>
    </p>

    <br />

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" color="secondary">
        <ion-icon name="calculator-outline" item-start></ion-icon
        >&nbsp;Cantidad</ion-label
      >
      <ion-input color="secondary" type="number" formControlName="pcantidad">
      </ion-input>
    </ion-item>
    <p
      ion-text
      class="text08"
      *ngIf="formProductEdit.get('pcantidad').touched && formProductEdit.get('pcantidad').hasError('required')"
    >
      <ion-text color="warning"> Corrija o complete el campo </ion-text>
    </p>

    <br />

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" color="secondary">
        <ion-icon name="layers-outline" item-start></ion-icon
        >&nbsp;Peso</ion-label
      >
      <ion-input color="secondary" type="number" formControlName="ppeso">
      </ion-input>
    </ion-item>
    <p
      ion-text
      class="text08"
      *ngIf="formProductEdit.get('ppeso').touched && formProductEdit.get('ppeso').hasError('required')"
    >
      <ion-text color="warning">Corrija o complete el campo </ion-text>
    </p>

    <br />

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" color="secondary">
        <ion-icon name="stopwatch-outline" item-start></ion-icon>&nbsp;Fecha de
        expiración</ion-label
      >
      <ion-input
        color="secondary"
        type="text"
        formControlName="pfecha_caducidad"
      >
      </ion-input>
    </ion-item>
    <p
      ion-text
      class="text08"
      *ngIf="formProductEdit.get('pfecha_caducidad').touched && formProductEdit.get('pfecha_caducidad').hasError('required')"
    >
      <ion-text color="warning"> Corrija o complete el campo </ion-text>
    </p>

    <br />

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" color="secondary">
        <ion-icon name="text-outline" item-start></ion-icon
        >&nbsp;Descripción</ion-label
      >
      <ion-textarea color="secondary" formControlName="pdescripcion">
      </ion-textarea>
    </ion-item>

    <p
      ion-text
      class="text08"
      *ngIf="formProductEdit.get('pdescripcion').touched && formProductEdit.get('pdescripcion').hasError('required')"
    >
      <ion-text color="warning"> Corrija o complete el campo </ion-text>
    </p>

    <br />

    <ion-row
      *ngIf="!formProductEdit.get('pdescripcion').valid && formProductEdit.touched"
    >
      <p style="text-align: center; text-bold">
        <ion-icon name="warning-outline" color="secondary"></ion-icon>
        <ion-text color="secondary">
          La descripcion debe de ser mayor a 20 caracteres
        </ion-text>
      </p>
    </ion-row>
  </form>
</ion-content>
