<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product.nombre}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteProduct()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Detail Page -->

<ion-content padding>
  <div align="center">
    <ion-text
      color="light"
      style="align-items: center; font-weight: bold; font-size: 20px"
    >
      <br />
      <br />
      Información del Producto
    </ion-text>
  </div>
  <br />
  <br />

  <div style="padding-right: 30px; padding-left: 30px">
    <br />

    <ion-text color="light" style="font-weight: bold">
      Nombre: {{product.nombre}}
    </ion-text>

    <br />
    <br />
    <ion-text color="light" style="font-weight: bold">
      Precio: {{product.precio}}
    </ion-text>

    <ion-text color="light" style="font-weight: bold">
      <br />
      <br />
      Peso: {{product.peso}}
    </ion-text>

    <ion-text color="light" style="font-weight: bold">
      <br />
      <br />
      Caduca: {{product.fecha_caducidad}}
    </ion-text>

    <br />
    <br />
  </div>
</ion-content>
