<ion-content padding class="login auth-page">
  <div class="auth-content">
    <div align="center" padding-horizontal>
      <div class="logo"></div>

          <!-- HomePage -->

      <ion-text color="light" style="font-weight: bold">
        Bienvenido(a)
      </ion-text>
      <br />
      <br />
      <br />
      <ion-text color="light">
        Programación 5
        <br />
        <br />
        "Catálogo Tienda"
        <br />
        <br />
        Estudiante:
        <br />
        Juan Pablo Soto Villegas.
      </ion-text>
    </div>

    <ion-grid class="btn-group">
      <ion-row>
        <ion-col size="12">
          <br />
          <br />
          <ion-button
            (click)="principal()"
            shape="round"
            expand="full"
            color="primary"
          >
            <ion-icon slot="icon-only" name="clipboard"></ion-icon>
            &nbsp; Ingresar
          </ion-button>
          <br />
          <br />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
